body {
    background-color: #f5f5f5; /* 非常に薄いグレーの背景色 */
    color: #333; /* テキスト色を少し暗めに設定 */
    font-family: Arial, sans-serif; /* フォントファミリーを設定 */
    margin: 0; /* 余白をリセット */
    padding: 20px; /* 内側の余白 */
}

.data-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.data-list h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.data-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-start; /* 左寄せに調整 */
    align-items: center;
    transition: box-shadow 0.3s ease;
    padding: 16px; /* スマートフォンでのタップしやすさを考慮 */
    margin-bottom: 30px; /* 各アイテム間のスペースを増やす */
    cursor: pointer; /* カーソルをポインタに設定 */
}

.data-item:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.data-location {
  font-weight: bold;
  font-size: 4vw; /* デバイス幅に応じて調整 */
  width: 75%; /* 幅を調整して左寄せの余白を増やす */
  margin-right: 5%; /* 右に余白を追加 */
}

.time-slot-area {
    align-items: center;
    margin-right: 5%; /* 右に余白を追加 */
}

.data-time-slot,
.data-date,
.data-count {
    margin-right: 10px;
    font-size: 2.5vw; /* デバイス幅に応じて調整 */
    color: gray;
}

.data-time-slot {
    color: black;
}

.data-count-area {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* カウントエリアを右寄せに */
    width: 20%;
    padding-left: 20px; /* 罫線とテキストの間にスペースを追加 */
    border-left: 2px solid #ccc; /* 縦罫線を追加 */
}

.data-count {
    font-weight: bold;
    color: #333;
    position: relative; /* 相対位置 */
    font-size: 5vw; /* 数字が目立つように大きめに設定 */
    padding: 8px 0px 8px 30px; /* タップしやすいようにパディングを増やす */
    bottom: 3px; /* 数字を下に移動 */
}

.indicator {
    border-radius: 5px;
    height: 8vw; /* デバイス幅に応じて調整 */
    width: 1.5vw; /* デバイス幅に応じて調整 */
    margin-right: 3vw; /* デバイス幅に応じて調整 */
}

.unit {
    font-size: 3vw; /* デバイス幅に応じて調整 */
}

.orange { background: orange; }
.green { background: green; }
.red { background: red; }

#dateFilter {
    width: 100%; /* コンテナの幅に合わせて調整 */
    padding: 16px; /* デフォルトのパディング */
    border: 2px solid #ccc; /* 境界線のスタイル */
    border-radius: 5px; /* 角の丸み */
    background-color: #fff; /* 背景色 */
    font-size: 5vw; /* 基本フォントサイズ */
    color: #333; /* テキストの色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 影の追加 */
    cursor: pointer; /* カーソルをポインタに設定 */
    outline: none; /* アウトラインを消去 */
    margin-bottom: 30px;
}

#dateFilter:hover {
    border-color: #888; /* ホバー時の境界線の色 */
}

#dateFilter:focus {
    border-color: #0056b3; /* フォーカス時の境界線の色 */
    box-shadow: 0 0 8px rgba(0,86,179,0.5); /* フォーカス時の影をより強調 */
}

.data-item-link {
    text-decoration: none; /* 下線を消す */
    color: inherit; /* 親要素から色を継承 */
    display: block; /* ブロック要素として扱う */
}

.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid #ffffff; /* 白いボーダー */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ソフトな影を追加 */
    border-radius: 10px; /* 角を丸くする */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 半透明の黒色背景 */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* オーバーレイに対するポインターイベントを無効にする */
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay-icon {
    font-size: 50px; /* アイコンサイズ */
}

img.responsive-map {
    width: 100%; /* 画像の幅を画面幅に合わせて調整 */
    height: auto; /* 高さを自動で調整し、アスペクト比を維持 */
}

@media (max-width: 400px) {
    .data-location {
        font-size: 5.5vw;
    }

    .data-time-slot,
    .data-date {
        font-size: 5vw;
    }

    .data-count {
        font-size: 6vw;
        min-width: 16vw;
    }
}

@media (max-width: 768px) {
    #dateFilter {
        font-size: 0.9rem; /* タブレットや小さなデバイスでのフォントサイズ */
        padding: 8px 10px; /* タブレットや小さなデバイスでのパディング調整 */
    }
}

@media (max-width: 480px) {
    #dateFilter {
        font-size: 0.8rem; /* スマートフォンでのフォントサイズ */
        padding: 8px; /* スマートフォンでのパディング調整 */
    }
}